.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.hero {
  display: flex;
  height: 80vh;
}

.text-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.subject {
  padding: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px;
}