body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  border: solid;
  border-radius: 6px;
  padding: 20px 20px;
}