* {
  font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-main {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

#logo-image {
  width: 36px;
  height: 36px;
}

#logo-text {
  padding-top: 2px;
  padding-left: 10px;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 30px;
  height: 100%;
}

li {
  margin-left: 50px;
}

li:hover {
  color: cornflowerblue;
}

#page-content {
  margin: 40px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: flex-end;
}